/*
I randomly generate a color pallet online. At least the first 3 colors aren't bad. 
We can deviate from it if we need, but here's what I got: 
    Lapis Lauli:   #336699
    Carolina blue: #86BBD8
    Charcoal:      #2F4858
    Light Green:   #9EE493
    Nyanza:        #DAF7DC
*/

/*
General styles
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #336699;
}

body {
  margin: 0px !important;
  padding: 0px;
  top: 9.6%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.content-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/*
Navbar styles.
*/

.navbar-container {
  margin: 0px;
  padding: 20px;
  border-bottom: solid 2px black;
  background-color: #2f4858;
  top: 0px;
  width: 100%;
  height: 5%;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.navbar-link {
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  border-radius: 20px;
  background-color: #336699;
  width: 10%;
  height: 80%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

a.navbar-link {
  text-decoration: none;
  color: black;
}

/* TODO: Update color scheme */

.navbar-link:hover {
  background-color: #2f4866;
  color: black;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input {
  padding: 10px;
  width: 400px;
  font-size: 16px;
}

.button {
  margin: 10px;
  padding: 10px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: black;
  width: 10%;
  height: 10%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #336699;
}
